<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body style="text-align:center">
    <h1> Contact Us </h1>
<br>
    <img src="/static/images/contact.jpg" width="300px"/>
<br>
    <br>
<br>
<a href="/" class="btn btn-primary" > Home</a>
    <h2> We're here to help! Whether you have a question about our courses, need assistance, or want to provide feedback, we’d love to hear from you.</h2>
<br>
<h2>
Contact Information:
    <br>
Phone:
    <br>
(123) 456-7890
<br>
Email:
    <br>
support@learningcenter.com
<br>
Address:
    <br>
Learning Center
    <br>
123 Education Lane
    <br>
City, State, 12345 </h2>

</body>
</html>