<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body >
      <div id="header">
          <img src="/static/images/logo.jpg" width="100px"/>
      </div>

      <h1> Welcome to Learning Center </h1>
      <hr>
      <a href="/" class="btn btn-primary"> Home</a>
      <a href="/about" class="btn btn-primary"> About Us</a>
      <a href="/contact" class="btn btn-primary"> Contact Us </a>
      <a href="/register" class="btn btn-primary"> Registration </a>
      <a href="/square" class="btn btn-primary">Square Example</a>
      <a href="/add" class="btn btn-primary">Addition Example</a>
      <a href="/sub" class="btn btn-primary">Subtraction Example</a>
      <a href="/mul" class="btn btn-primary">Multiplication Example</a>

      <br>

      <hr>

<h2> Learning Becomes Easy With Us </h2>

<img src="/static/images/lan.png" width="250px"/>

      <center>
           <h2>Here, you'll find interactive exercises to practice and improve your math skills.
               Whether you're learning addition, subtraction, multiplication, or mastering the square of a number,
               this platform is designed to help you strengthen your understanding with hands-on practice.
               Start exploring and enhance your math abilities today!</h2>
      </center>

      <marquee>
          <img src="/static/images/bird.gif" width="150"/>
      </marquee>
      <div id="image-left-container">
         <img src="/static/images/rules.jpeg" height="550px" width="500px" id="image-left" alt="My Image"/>
      </div>


<br>



</body>
</html>